services:
  consul:
    image: consul:1.15.4
    container_name: consul
    hostname: consul
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    networks:
        - gateway-net
    ports:
       - 8500:8500
       - "8600:8600/udp"
    restart: always
    command: [
      "agent",
      "-server",
      "-ui",
      "-bootstrap-expect=1",
      "-client=0.0.0.0",
      "-bind=0.0.0.0"
    ]
    deploy:
      update_config:
        order: start-first 
      resources:
        limits:
          memory: 256M  
        reservations:
          memory: 128M


networks:
  gateway-net:
    driver: bridge
    name: "gateway-net"
