services:
  api-gateway:
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:5000
      ASPNETCORE_HTTP_PORTS: 5000
    ports:
      - 5000:9000
    build:  
      context: .
      dockerfile: ./src/api-gateway/Dockerfile
    image: ${DOCKER_REGISTRY-}api-gateway  
    volumes:
      - ${LOCALAPPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${LOCALAPPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    networks:
      - gateway-net
    deploy:
      resources:
        limits:
          memory: 256M  
        reservations:
          memory: 128M     
  categoria-service-dev:
    container_name: categoria-service-dev
    hostname: categoria-service
    image: ${DOCKER_REGISTRY-}categoria-service-dev
    build: 
      context: .
      dockerfile: ./src/BackEnd/Services/CategoriaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    volumes:
      - ${LOCALAPPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${LOCALAPPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ./src/BackEnd/Services/CategoriaService/appsettings.json:/app/appsettings.development.json:ro
    networks: 
      - "gateway-net"
    mac_address: 02:42:ac:11:00:02
    deploy:
      resources:
        limits:
          memory: 256M  
        reservations:
          memory: 128M 

  despesa-service-dev:
    container_name: despesa-service-dev
    hostname: despesa-service
    image: ${DOCKER_REGISTRY-}despesa-service-dev
    build: 
      context: .
      dockerfile: ./src/BackEnd/Services/DespesaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    volumes:
      - ${LOCALAPPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${LOCALAPPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ./src/BackEnd/Services/DespesaService/appsettings.json:/app/appsettings.development.json:ro
    networks:
      - gateway-net
    mac_address: 02:42:ac:11:00:03
    deploy:
      resources:
        limits:
          memory: 256M  
        reservations:
          memory: 128M 
            
  receita-service-dev:
    container_name: receita-service-dev
    hostname: receita-service
    image: ${DOCKER_REGISTRY-}receita-service-dev
    build: 
      context: .
      dockerfile: ./src/BackEnd/Services/ReceitaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    volumes:
      - ${LOCALAPPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${LOCALAPPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ./src/BackEnd/Services/ReceitaService/appsettings.json:/app/appsettings.development.json:ro
    networks:
      - "gateway-net"
    mac_address: 02:42:ac:11:00:04
    deploy:
      resources:
        limits:
          memory: 256M  
        reservations:
          memory: 128M 

networks:
  gateway-net:
    driver: bridge
    name: "gateway-net"
