services:
  api-gateway:
    container_name: api-gateway
    image: ${DOCKER_REGISTRY-}api-gateway
    build:
      context: .
      dockerfile: ./src/api-gateway/Dockerfile
    environment:
      - CONSUL_HOST=consul
      - SERVICE_DISCOVERY_URL=http://consul:8500
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - 4000:9000
    networks:
      - "gateway-net"

  categoria-service:
    container_name: categoria-service
    hostname: categoria-service
    image: alexfariakof:categoria-service
    build:
      context: .
      dockerfile: ./src/BackEnd/Services/CategoriaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  despesa-service:
    container_name: despesa-service
    hostname: despesa-service
    image: ${DOCKER_REGISTRY-}despesa-service
    build:
      context: .
      dockerfile: ./src/BackEnd/Services/DespesaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  receita-service:
    container_name: receita-service
    hostname: receita-service
    image: ${DOCKER_REGISTRY-}receita-service
    build:
      context: .
      dockerfile: ./src/BackEnd/Services/ReceitaService/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Production

networks:
  gateway-net:
    driver: bridge
    name: "gateway-net"
