services:
  consul:
    image: consul:1.15.4
    container_name: consul
    environment:
      - CONSUL_BIND_INTERFACE=eth0
    ports:
       - 8500:8500
       - "8600:8600/udp"
    hostname: "consul"
    command: [
      "agent",
      "-server",
      "-ui",
      "-node=consul-server",
      "-bootstrap-expect=1",
      "-client=0.0.0.0"
    ]
    networks:
      - gateway
    deploy:
      update_config:
        order: start-first

networks:
  gateway:
    name: gateway  
    driver: bridge 
